* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* menuIcon------------------------------------- */







.menu-box {
    width: 100%;
    height: 0vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

#menuIcon {
    z-index: 100;

}

.menu-box.open-menu {

    width: 100%;
    height: 75vh;

}

.menu-box ul li {
    margin: 30px;
    list-style: none;
    text-align: center;
}

.menu-box ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 54px;
    font-weight: 600;
    position: relative;
    height: 30px;
    padding: 0 50px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.menu-box ul li a:hover {
    background-color: yellow;
}

/* left side-------------------------------------- */
.home {
    display: flex;
    height: 100vh;
}

.home-left {
    width: 400px;
    height: 100vh;
}

.icon {
    z-index: 100;
    padding: 25px;
    font-size: 2.5rem;
    margin: 20px;
    background-color: yellow;
    border: 2px solid yellow;
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 20px;

}

.icon:hover {
    border: 2px solid transparent;
    background-color: black;
    color: white;
    transition: .5s ease-in;
}

.intro {
    margin-top: 50%;
    z-index: 100;
    width: 650px;
    margin-left: 50px;
    margin-bottom: 110px;


}

.intro h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: grey;
}

.intro p {
    z-index: 100;
    font-size: 2.5rem;
}

.intro .bio {
    z-index: 100;
    margin: 0 10px;
    font-weight: lighter;
    font-size: 1.5rem;
}

.auto-type {
    font-size: 4rem;

}

.intro .btn {
    background-color: transparent;
    border: 2px solid transparent;
    margin-top: 20px;
    font-weight: 800px;
    font-size: 0.9rem;
    text-decoration: none;
    padding-right: 40px;
}

.btn a {

    color: #111;
    text-decoration: none;
}

.btn:hover {
    border: 2px solid yellow;
    background-color: yellow;
    transition: 1s;
    padding: 0 40px;
}

.fa-angle-double-right {
    padding: 5px;
    background-color: yellow;
    color: #111;
}



.social {
    margin: 0 80px;
}

.social h4 {
    font-size: 1rem;
    color: grey;
}

.social-icon {
    margin: 30px 0;
    font-size: 3rem;
}

.social-icon a {
    color: black;
}

.social-icon .fa-linkedin:hover {
    color: blue;
}

.social-icon .fa-square-github:hover {
    color: rgba(51, 51, 51, 0.614);
}


.social-icon .fa-square-youtube:hover {
    color: red;
}

/* right side----------------------------------------- */



.home-right img {
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    position: relative;
}

.menu-right {
    margin: 20px;
    float: right;
}

#menuIcon {
    position: fixed;
    top: 40px;
    right: 60px;
}

.fa-bars {

    background-color: yellow;
    font-size: 2rem;
    padding: 10px;
}

.menu-bar {
    position: fixed;
    right: 20px;
    margin-right: 0;
    display: inline-block;
    margin-top: 15%;
}

.menu-bar h6 {
    font-size: 1.1rem;
    color: black;
    margin-left: 200px;
    text-decoration: underline;

}

.menu {
    align-items: flex-end;
    /* float: right; */
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    margin: 45px 0;
    display: block;
    font-size: 3rem;
    text-decoration: none;
    color: black;
    position: relative;
    padding-left: 80px;
    height: 30px;
    transition: 0.5s;
}

strong {
    margin: 10% 0;
}

.item-home {
    padding-left: 100px;
}

.item-about,
.item-project {
    padding-left: 90px;
}

.item-project {
    padding-left: 78px;
}

.item-gallery {
    padding-left: 70px;
}

.item-contact {
    padding-left: 0px;
}

.item-contact a:hover,
.item-project a:hover,
.item-gallery a:hover,
.item-about a:hover,
.item-home a:hover {
    background-color: yellow;

}

/* about--------------------------------------------------------- */

.about-page {
    background-image: url(/image/about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
}

.about-tittle {
    display: flex;
    justify-content: center;
    position: relative;
    top: 60%;
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 0 30px;

}

hr {
    position: relative;
    top: 56%;
}

.about-body {
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-box {
    padding: 30px;
    width: 700px;

}


.intro-box h5 {
    font-size: 1.3rem;
    color: rgb(101, 101, 101);
}

.intro-box h1 {
    margin-top: 20px;
    font-size: 3rem;
}

.intro-box p {
    margin: 20px 0;
    font-size: 1.3rem;
    letter-spacing: 1px;
    opacity: .8;
}

#download-btn {
    font-size: 1.1rem;
    border-radius: 20px;
    border: 2px solid yellow;
    background-color: yellow;
    color: black;
    padding: 5px 30px;
    text-decoration: none;
    padding-right: 20px;
    transition: padding-right 1s;
}

#download-btn:hover {
    padding-right: 120px;
    border: 2px solid transparent;
    background-color: black;
    color: #fff;
}

.skills {
    padding: 50px;
}

.in-touch h2 {
    margin-bottom: 30px;
}

.in-touch p {
    font-size: 1.1rem;

    margin-bottom: 10px;
}

.in-skill h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.in-skill p {
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* footer start here------------------------------ */

.social-med {
    justify-content: center;
    align-items: end;
    font-size: 1.9rem;
    width: 100vw;
    height: 50px;
    display: flex;
    background-color: yellow;


}

.social-med a {
    color: black;
    margin: 0 10px;
    transform: translateY(0px);
    transition: transform .5s ease-in-out;
}

.social-med a:hover {
    text-decoration: underline;
    transform: translateY(-10px);
}

.footer-line {
    width: 100vw;
    height: 130px;
    background-color: #aaa9a973;

}

.footer-line ul {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.footer-line ul li {
    list-style: none;


}

.footer-line ul li a {
    color: black;
    margin: 0 20px;
    text-decoration: none;


}

.footer-line ul li a:hover {
    text-decoration: underline;

}

.footer-last-line {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.footer-last-line .copyright {
    font-size: 1rem;
    padding: 15px;
    color: #fff;

}

.credit {
    margin-left: 10px;
}


/* footer end here---------------------------------- */


/* contact page-------------------------------------- */
.contact-page {


    background-image: url(/image/contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
}

.form-section {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 100px;
}

.form-section h1 {
    font-size: 3.5rem;
}

.form-section p {

    font-size: 1.7rem;
}

form {
    background-color: #fff;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-top: -70px;
    width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 2px dashed rgba(100, 100, 100, 0.37);
}

input[type="text"],
input[type="email"],
input[type="message"] {
    width: 99.5%;
    padding: 8px;
    margin: 5px 1px;
}

.submit-btn {
    margin-top: 10px;
    width: 99.5%;
    padding: 8px;
    margin-left: 1px;
    background-color: black;
    color: #fff;
    transform: translateY(0);
    transition: transform 1s;


}

.submit-btn:hover {
    transform: translateY(-5px);
    border: 2px solid transparent;
}

/* project page------------------------------ */

.project-page {
    background-image: url(/image/project.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;

}

#project-box {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 100vw;
    height: 50vh;
    background-image: linear-gradient(180deg, #ffff, rgba(255, 255, 0, 0.594));
}

.project-box {
    display: flex;
    justify-content: center;
}

.project-boxs img {
    margin: 50px 30px;
    width: 400px;
    height: 250px;
}

.project-boxs {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 400px;
    height: 250px;
}

.overlay {
    margin: 50px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(45, 45, 45, 0.795);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    overflow: hidden;
    width: 400px;
    height: 0;
    transition: .5s ease;
}

.project-boxs:hover .overlay {
    height: 250px;
}

.text {
    text-decoration: underline;
    color: white;
    font-size: 1.8rem;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-line {
    color: white;
    position: absolute;
    top: 50%;
    left: 0;

}

.learn-btn {
    color: rgb(170, 237, 255);
    position: absolute;
    top: 80%;
    left: 40%;
    text-decoration: none;

}


/* gallery page -------------------------------------- */
.gallery-page {
    background-image: url(/image/gallery.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;

}

.about-gallery {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}

.gallery {
    margin: 50px 20px;
    display: flex;
    justify-content: center;

}

.image-box {
    padding: 5px;
}

.image-box img {
    width: 100px;
    height: 250px;
    object-fit: cover;
    transition: width 05s;

}

.image-box img:hover {
    width: 400px;
    border-radius: 10px;
}


.image-box1 img {
    width: 250px;
    padding: 5px;
    box-shadow: 5px 10px 18px #888888;
}

.image-box1 img:hover {
    transform: rotate(-5deg);
}

/* #emoji {
    width: 200px;
} */

.blog_tittle {
    justify-content: center;
    display: flex;
    font-size: 3rem;


}

.blog-container {
    margin: auto 20px;
}

#blog-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20%;
}

.blog_text {
    margin-left: 20px;
    font-size: 1.2rem;
}

.text-logo img {
    padding: 5px;
    width: 200px;
    object-fit: cover;
    box-shadow: 5px 10px 18px #888888;
}

.text-logo img:hover {
    transform: rotate(-5deg);
}